* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", sans-serif;
}

header {
  margin: 0 350px;
}

nav {
  border-bottom: solid 1px #999999;
  padding: 20px 600px;
}
nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav li ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}

header h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
}

figcaption {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 300;
}

audio {
  width: 100%;
  display: flex;
  justify-content: center;
}

header p {
  font-size: 20px;
  color: rgb(41, 41, 41);
  letter-spacing: -0.06px;
  line-height: 32px;
  font-weight: 500;
  margin: 20px 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #999999;
  padding: 10px 0;
}
footer p {
  font-size: 15px;
  color: rgb(41, 41, 41);
  letter-spacing: -0.06px;
}
